[submodule "lib/giflib"]
	path = lib/giflib
	url = https://git.code.sf.net/p/giflib/code
[submodule "lib/libintraFont"]
	path = lib/libintraFont
	url = https://github.com/pspdev/libintraFont
[submodule "lib/libpspmath"]
	path = lib/libpspmath
	url = https://github.com/mrneo240/libpspmath
