# Ignore compiled object files
*.o
*.a
*.so
*.lib
# Ignore build directory
build

# Ignore macOS system file
.DS_Store

# Ignore various file types within the "samples" directory and its subdirectories
samples/**/*.elf
samples/**/*.PBP
samples/**/*.prx
samples/**/*.SFO

# Ignore documentation directory
doc/html
src/libpspmath/*.a

# Ignore release artifacts
dist/
OSLib.zip

# CMake
install_manifest.txt
cmake_install.cmake
CMakeFiles/
CMakeCache.txt
