# Ignore compiled object files
*.o

# Ignore build directory
build

# Ignore macOS system file
.DS_Store

# Ignore various file types within the "samples" directory and its subdirectories
samples/**/*.elf
samples/**/*.PBP
samples/**/*.prx
samples/**/*.SFO

# Ignore documentation directory
OSLib_Documentation/
